<div class="row">
    <div class="col s12 m6 offset-m3">
        <div class="card darken-1">
            <div class="card-content red-text text-lighten-2">
                <h1 class="center-align">Dashboard</h1>
                <p class="center-align">Welcome, <%= firstName %> <%= lastName %> You are Signed in</p>
                <hr>
                <a class="btn btn-100 waves-effect waves-light " href="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>