<div class="row">
    <div class="col s12 m6 offset-m3">
        <div class="card darken-1">
            <div class="card-content red-text text-lighten-2">
                <h1 class="center-align">Account Service</h1>
                <div class="card-action">
                    <div class="row">
                        <div class="col s6">
                            <a class="waves-effect waves-light btn btn-100" href="/account/signin">Sign In</a>
                        </div>
                        <div class="col s6">
                            <a class="waves-effect waves-light btn btn-100" href="/account/signup">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>